<div class="well">
  <h2>{{client.id}}</h2>
  <p class="lead">{{client.prenom}} {{client.nom}}</p>
  <div class="text-right">
    <a [routerLink]="['/client', client.id]" class="btn btn-default btn-sm" target="_blank">
      <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> Infos client
    </a>
    <a [routerLink]="[client.id]" class="btn btn-default btn-sm">
      <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Éditer
    </a>
    <button class="btn btn-danger btn-sm" (click)="deleteClient(client.id)">
      <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Supprimer
    </button>
  </div>
</div>