<h1>Liste des Clients de l'agence Proxibanque d'Aurillac ({{listeClients.length}})</h1>


<div class="row">

  
  
  <h2 *ngIf="listeClients.length === 0">
    Aucun client affecté à ce conseiller
  </h2>
  
  <!-- Boucle sur la liste des clients en appelant une boucle sur la variable listeClients -->




  <table class="table table-striped">
    <thead>
      <tr>
        <th>Prénom</th>
        <th>Nom</th>
        <th>Opérations</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let currentClient of listeClients">
        <td>{{ currentClient.prenom}}</td>
        <td>{{ currentClient.nom}}</td>
        <td>
          <a [routerLink]="[currentClient.id]" class="btn btn-default btn-sm">
            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Éditer
          </a>
          <a [routerLink]="['/clients', currentClient.id]" class="btn btn-default btn-sm">
            <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> Liste des comptes
          </a>
          <a [routerLink]="['/clients', currentClient.id, 'virement']" class="btn btn-default btn-sm">
            <span class="glyphicon glyphicon-euro" aria-hidden="true"></span> Virement
          </a>
          <a [routerLink]="['/clients', currentClient.id, 'historique']" class="btn btn-default btn-sm">
            <span class="glyphicon glyphicon-euro" aria-hidden="true"></span> Historique
          </a>
          <button class="btn btn-danger btn-sm" (click)="deleteClient(currentClient)">
            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Supprimer
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  
  
  <div class="text-right">
    <a [routerLink]="['/clients/new']" class="btn btn-success btn-lg">Ajouter Client</a>
  </div>
</div>