<div class="container liste">
<h1>Liste des Clients de l'agence Proxibanque d'Aurillac</h1>



<div class="col-sm-offset-1 col-sm-10">
  
  
  
  <h2 *ngIf="listeClients.length === 0; else clients">
    Aucun client affecté à ce conseiller
  </h2>
  <ng-template #clients>
      <h3>Nombre de clients gérés : {{listeClients.length}}</h3>
   </ng-template>
  

    
  <div class="text-left">
      <a [routerLink]="['/clients/new']" class="btn btn-info btn-lg">Ajouter Client</a>
  </div>
  <br/>
  
  <!-- Boucle sur la liste des clients en appelant une boucle sur la variable listeClients -->

  
  
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Prénom</th>
        <th>Nom</th>
        <th>Opérations</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let currentClient of listeClients">
        <td>{{ currentClient.prenom}}</td>
        <td>{{ currentClient.nom}}</td>
        <td>
          <a [routerLink]="[currentClient.id]" class="btn btn-primary btn-sm">
            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Éditer
          </a>
          <a [routerLink]="['/clients', currentClient.id, 'virement']" class="btn btn-success btn-sm">
            <span class="glyphicon glyphicon-euro" aria-hidden="true"></span> Virement
          </a>
          <a [routerLink]="['/clients', currentClient.id, 'historique']" class="btn btn-default btn-sm">
            <span class="glyphicon glyphicon-euro" aria-hidden="true"></span> Historique
          </a>
          <button class="btn btn-danger btn-sm" (click)="deleteClient(currentClient)">
            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Supprimer
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  


</div>
</div>