<h1>Liste des opérations bancaires disponibles</h1>


<div class="row">


  <!-- Boucle sur la liste des opérations en appelant une boucle sur la variable opérationsList -->
  <div class="col-sm-6" *ngFor="let operation of operationsList">
    <div class="well">
      <h2>{{operation.titre}}</h2>
      <p class="lead">{{operation.description}}</p>
      <div class="text-right">
        <a href="operations/{{operation.lien}}" class="btn btn-info btn-lg">Accéder</a>
      </div>
    </div>
  </div>
</div>