<div class="container liste">
  <h2>Historique des virement bancaire</h2>
  <h3>Client : </h3>
  <h2>Historique des débits </h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Date</th>
        <th>Opération</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let debit of virementsDebiteurClient">
        <td>{{debit.date| date : "dd.MM.y" }} </td>
        <td>{{debit.clientDebitInfo }} </td>
        </tr>
    </tbody>
  </table>
  
  <br/>
<hr>
<br/>


  <h2>Historique des crédits </h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Date</th>
        <th>Opération</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let credit of virementsCrediteurClient">
        <td>{{credit.date | date : "dd.MM.y" }}</td>
        <td>{{credit.clientCreditInfo }} </td>
      </tr>
    </tbody>
  </table>
</div>
