<div class="container liste">
  <h2>Réaliser un virement</h2>

  <div class="col-sm-12">
    <form novalidate [formGroup]="clientForm" (ngSubmit)="validerVirement()">
      <div class="row">
        <div class="col-md-offset-2 col-md-3">

          <div>
            <h3>Client débiteur</h3>
            <input type="text" class="form-control" formControlName="clientNom">
          </div>
          <div>
            <br/>
            <h3>Compte débiteur</h3>
            <select class=form-control formControlName="compteDebiteur">
              <option value={{currentCompteDebiteur.id}} *ngFor="let currentCompteDebiteur of listeCompteDebiteur">{{currentCompteDebiteur.numero}}</option>
            </select>
          </div>

        </div>
        <div class="col-md-offset-1 col-md-3">

          <div>
            <h3>Client créditeur</h3>
            <select class=form-control formControlName="nomCrediteur">
              <option *ngFor="let currentClient of listeClients" (click)="selectCrediteur(currentClient.id)">{{currentClient.nom}}</option>
            </select>
          </div>
          <div>
            <br/>
            <h3>Compte créditeur</h3>
            <select class=form-control formControlName="compteCrediteur">
              <option value={{currentCompte.id}} *ngFor="let currentCompte of listeCompteCrediteur">{{currentCompte.numero}}</option>


            </select>
          </div>

        </div>
      </div>




      <br/>
      <br/>
      <br/>


      <div class="input-group col-md-offset-4 col-md-3 col-sm-10">
        <input type="text" class="form-control" placeholder="Somme à virer" aria-describedby="basic-addon1" formControlName="montant">
        <span class="input-group-addon" id="basic-addon1">€</span>

      </div>
      <br/>
      <div class="col-md-offset-5 col-md-3 col-sm-10">
        <button class="btn btn-success">Valider</button>
      </div>






    </form>
  </div>
</div>
