<br>
<h2>Audit des comptes bancaires de l'agence</h2>

<form novalidate [formGroup]="auditForm">

  <br>
  <p>
    <b>Entrer un montant maximum pour le plafond de l'audit (montant positif SVP)</b>
  </p>
  <div class="form-group">
    <input type="text" class="form-control" aria-describedby="basic-addon1" formControlName="montant">
  </div>

  <h2>Audit des comptes epargnes </h2>
  <ul>
    <li *ngFor="let epargne of tabAllEpargne" [ngClass]="submitClass(epargne.compteEpargne)">

      {{epargne.nom}} - {{epargne.compteEpargne.numero}} - {{epargne.compteEpargne.solde}}€
    </li>
  </ul>

  <h2>Audit des comptes courants </h2>
  <ul>
    <li *ngFor="let courant of tabAllCourant" [ngClass]="submitClass(courant.compteCourant)">

      {{courant.nom}} - {{courant.compteCourant.numero}} - {{courant.compteCourant.solde}}€
    </li>
  </ul>

  <button class="btn btn-primary" (click)="lancerFormCourant()"> Audit des comptes courants</button>
  <button class="btn btn-primary" (click)="lancerFormEpargne()"> Audit des comptes Epargnes</button>
  <a routerLink="..">Retour</a>



</form>