<div class="container liste">
<br>
<h2>Audit des comptes bancaires de l'agence</h2>

<form novalidate [formGroup]="auditForm">

    <div class="col-sm-offset-3 col-sm-6">
  <p>
    Entrer un montant maximum pour le plafond de l'audit
  </p>
 
    <input type="text" class="form-control" aria-describedby="basic-addon1" placeholder="Par défaut : 5 000€" formControlName="montant">
  </div>

  <br/>  

  <div class="col-sm-12">

<br/><br/>
<div class="text-center">
  <button class="btn-lg btn-info" (click)="lancerFormEpargne()"> Audit des comptes Epargnes</button>
  </div>
  <br/><br/>
  <table class="table table-striped">
      <thead>
        <tr>
          <th>Nom</th>
          <th>Numéro de compte</th>
          <th>Solde du compte</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let epargne of tabAllEpargne" [ngClass]="submitClass(epargne.compteEpargne)">
          <td>{{epargne.nom}}</td>
          <td>{{epargne.compteEpargne.numero}}</td>
          <td>{{epargne.compteEpargne.solde}}€</td>
        </tr>
      </tbody>
    </table>

<br/>  <hr><br/>

<br/><br/>
<div class="text-center">
  <button class="btn-lg btn-info" (click)="lancerFormCourant()"> Audit des comptes courants</button>
</div>
  <br/><br/>
  <table class="table table-striped">
      <thead>
        <tr>
          <th>Nom</th>
          <th>Numéro de compte</th>
          <th>Solde du compte</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let courant of tabAllCourant" [ngClass]="submitClass(courant.compteCourant)">
          <td>{{courant.nom}}</td>
          <td>{{courant.compteCourant.numero}}</td>
          <td>{{courant.compteCourant.solde}}€</td>
        </tr>
      </tbody>
    </table>

  

 
  <a type="button" class="btn btn-default" routerLink="..">Retour</a>

</div>
</form>

</div>
  
  
    